@charset "utf-8";
/* CSS Document */
article{
	width: 340px;
	height: 450px;
	background-color:#EFEFEF;
}
a{
	text-decoration: none;
	font-size: 23px;
	font-family: Arial;
	color: black;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}
a:hover{
	color: #2A2A2A;
}
p{
	height: 35px;
	text-align: justify;
	font-size: 14px;
	font-family: Arial;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
}