@charset "utf-8";
/* CSS Document */
article{
	width: 500px;
	height: 535px;
	border:1px solid #FF0000;
	background-image: url("bg.png")
}

img{
	
	border-bottom:1px solid #FF0000;
}

a{
	height: 100px;
	text-decoration: none;
	font-family: Arial;
	font-size: 24px;
	color:red;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	
}
p{
	height: 60px;
	margin-left: 10px;
	margin-right: 25px;
	font-size: 20px;
	
}
